@model IEnumerable<VideoRental.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <a href="@Url.Action("Create New", "Movies")" class="btn btn-default"><i class="fa fa-plus"></i> Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new {id = item.MovieId})|
        @Html.ActionLink("Details", "Details", new { id = item.MovieId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MovieId })*@

                <a href="@Url.Action("Edit", "Movies", new {id = item.MovieId})" class="btn btn-default"><i class="fa fa-pencil"></i> Edit</a>
                <a href="@Url.Action("Details", "Movies", new {id = item.MovieId})" class="btn btn-default"><i class="fa fa-info"></i> Details</a>
                <a href="@Url.Action("Delete", "Movies", new {id = item.MovieId})" class="btn btn-default"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
    }

</table>

@section scripts
{
    <script>
        $(function() {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });
    </script>
}
